/*banner*/
.banner{
    background: #F1E4E6;

    &_wraper{
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @include laptop{
            width: 100%;
        }

        @include mobile{
            justify-content: center;
            height: 360px;
        }
    }
    .banner_img{
        width: 50%;
        max-width: 800px;
        height: auto;

        @include mobile{
            display: none;
        }
    }
    &_content{
        margin-left: 60px;
        padding-left: 16px;
        border-left: 12px solid #F16D7F;

        @include laptop{
            margin: 0;
        }
    }
    &_title{
        @include font(48px, 58px, 900);
        color: #222;
        text-transform: uppercase;

        @include laptop{
            @include font(44px, 52px, 900);
        }

        @include tablet{
            @include font(38px, 45px, 900);
        }
    }
    &_text{
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;

        @include tablet{
            @include font(24px, 28px, 700);
        }

        @include laptop{
            @include font(20px, 24px, 700);
        }
    }
    &_text span{
        color: #F16D7F;
    }
}

.banner_small{
    @include flex(flex, center, space-between);
    padding: 60px 0;

    @include mobile{
        flex-direction: column;
        padding: 30px 0;
    }
}
.banner_small .small_title{
    @include font(24px, 29px);
    color: $dark-pink;
}
.banner_small .crumbs{
    @include mobile{
        margin-top: 30px;
    }
}
.banner_small .crumbs .crumbs_list{
    @include flex(flex, center, inherit);
}
.banner_small .crumbs .crumbs_list .crumbs_item{
    @include font(14px, 17px);
    position: relative;
    padding: 0 10px;
}
.banner_small .crumbs .crumbs_list .crumbs_item:first-child{
    padding-left: 0;
}
.banner_small .crumbs .crumbs_list .crumbs_item:last-child{
    padding-right: 0x;
}
.banner_small .crumbs .crumbs_list .crumbs_item.active .crumbs_link{ 
    color: $dark-pink;
    font-weight: bold;
}
.banner_small .crumbs .crumbs_list .crumbs_item::after{
    content: '/';
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
}
.banner_small .crumbs .crumbs_list .crumbs_item:last-child:after{
    display: none;
}
.banner_small .crumbs .crumbs_list .crumbs_item .crumbs_link{
    color: $dark-gray;
    text-transform: uppercase;
}
/*end banner*/


