/*product*/
.product{
    padding: 95px 0;

    @include laptop{
        padding: 60px 0;
    }

    &_wrap{
        display: flex;
        flex-direction: column;
    }
    &_title{
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
    }
    &_subtitle{
        margin-top: 6px;
        font-weight: 400;
        color: #9F9F9F;
        text-align: center;
    }
    &_list{
        padding: 18px 0 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        @include tablet{
            padding: 0px 0 40px;
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile{
            grid-template-columns: repeat(1, 1fr);
            padding: 24px 0 40px;
        }
    }
    &_item{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        transition: .3s;
        cursor: pointer;

        @include mobile{
            margin-top: 16px;
        }
    }
    &_item:hover &_overlay::before{
        display: block;
    }
    &_item:hover &_btn{
        @include flex(flex, center, inherit);
    }
    &_overlay{
        position: relative;
        transition: .3s;
    }
    &_overlay::before{
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(58, 56, 56, 0.86);
        transition: all 3s;
    }
    &_img{
        display: block;
        width: 100%;
    }
    &_btn{
        display: none;
        @include font(14px, 17px);
        @include border;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $transparent;
        cursor: pointer;
        padding: 10px 15px;
        color: $white;
        transition: .3s;
    }
    &_btn:hover{
        transform: translate(-50%, -50%) scale(1.1);
        
    }
    &_btn svg{
        margin-right: 10px;
    }
    &_content{
        padding: 25px 16px;
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
    }
    &_name{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
    }
    &_text{
        padding: 12px 0 18px;
        color: #5D5D5D;
    }
    &_price{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
        color: #F16D7F;
    }
}
/*end product*/