$dark-blue: #222222;
$pink: #f1e4e6;
$dark-pink: #f16d7f;
$brown: #474040;
$dark-gray: #575757;
$gray: #c4c4c4;
$liter-gray: #6F6E6E;
$lite-gray: #e0e0e0;
$white: #fff;
$transparent: transparent;

$deskstop-width: 1600px;
$laptop-width: 1100px;
$tablet-width: 768px;
$mobile-width: 500px;